{% include 'header.html' %}
<!-- team section -->
    <main>
        <section class="team-section">
            <div class="imge-container">
                <img src="./assets/images/team1.png" alt="">
                <img src="./assets/images/team2.png" alt=""> 
                <img src="./assets/images/team3.png" alt="">
                <img src="./assets/images/team4.png" alt="">
            </div>
            <div class="team-contant">
                <h2 class="team-title"><span class="span1">Quick List</span> of Our <span class="span2">Features</span></h2>
                <p class="team-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aut aliquid reiciendis. Suscipit recusandae officiis ut porro temporibus repellendus, vel enim voluptates, iste neque, dolores earum esse dolor mollitia deleniti?</p>
                <button class="button-1">Explore More</button>
            </div>
        </section>

        <!-- feature section -->
        <section class="features">
            <div class="features-contant">
                <h2 class="features-title">Features You Will <br> love & enjoy</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis rem deleniti non? Autem fugiat mollitia id quaerat repellendus aliquam laborum quisquam consequatur, impedit obcaecati eum unde atque molestiae ea ipsum!</p>
                <div class="featurs-card">
                    <h4>Desktop and Mobile Version</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex itaque sint nesciunt esse eligendi non quae repudiandae omnis illum natus?</p>
                </div>
                <div class="featurs-card">
                    <h4>Desktop and Mobile Version</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsam dolores, eius quis maxime in iure obcaecati quidem. Minima, necessitatibus.</p>
                </div>
                <div class="featurs-card">
                    <h4>Desktop and Mobile Version</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit tempore maiores officiis aut, a facere assumenda officia enim sunt asperiores!</p>
                </div>
                <div class="featurs-card">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nisi rem qui similique, culpa sed natus excepturi veniam beatae adipisci.</p>
                </div>

            </div>
            <div class="features-imge">
                <img src="./assets/images/architect.png" alt="">
                <div class="ten-years-badge">
                    <h2>10+ Years</h2>
                    <p class="ten-years-badge-text">Experience</p>
                </div>
            </div>
        </section>
        <!-- facts section -->
        <section class="facts">
            <h2>Some Facts</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatem eligendi neque nisi labore aut ipsa obcaecati placeat, vero molestiae sint repellendus illo quasi facere quia mollitia fugit? Ab, illum..team-section</p>
            <div class="facts-card-container">
                <!-- .card*4>img+h2.card-status+p.card-title -->
                <div class="card">
                    <img src="./assets/images/icons/ribon.png" alt="">
                    <h2 class="card-status">54</h2>
                    <p class="card-title">Awards Winnings</p>
                </div>
                <div class="card">
                    <img src="./assets/images/icons/projects.png" alt="">
                    <h2 class="card-status">1458</h2>
                    <p class="card-title">Project Finished </p>
                </div>
                <div class="card">
                    <img src="./assets/images/icons/customers.png" alt="">
                    <h2 class="card-status">590</h2>
                    <p class="card-title">Clients Worked</p>
                </div>
                <div class="card">
                    <img src="./assets/images/icons/email.png" alt="">
                    <h2 class="card-status">22578</h2>
                    <p class="card-title">Email Send</p>
                </div>
            </div>
        </section>
        <!-- sponsors section -->
        <section class="sponsors-section">
            <h2 class="sponsors-title">Our Sponsors</h2>
            <p class="sponsor-contant">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid laudantium commodi quibusdam sunt debitis nemo eius consequuntur. Cupiditate minus, unde maxime vero fuga esse doloremque? At quia deserunt dolores enim!</p>
            <div class="sponsors-logo">
                <img src="./assets/images/sponsors/spotify.png" alt="">
                <img src="./assets/images/sponsors/amazon.png" alt="">
                <img src="./assets/images/sponsors/google.png" alt="">
                <img src="./assets/images/sponsors/telerama.png" alt="">
                <img src="./assets/images/sponsors/figma.png" alt="">
            </div>
        </section>
    </main>

{% include 'footer.html' %}